@section Scripts {
    <script src="~/js/admin/categories.js"></script>
}
<ul class="categories-list">

</ul>
<div>
    <img class="action-button add add-category" height="50" src="~/icons/collapse-plus.svg">
</div>
<button id="show-add-modal" class="w3-button">
    Тестовая кнопка для открытия модалки
</button>
<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span id="close-add-modal" class="w3-button w3-display-topright">&times;</span>
        </div>
    </div>
</div>