@section Scripts {
    <script src="~/js/admin/categories.js"></script>
}
<table>
    <thead>
        <tr>
            <td>
                Название
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>