@section Scripts {
    <script src="~/js/admin/categories.js"></script>
}
<ul class="categories-list">

</ul>
<div>
    <img class="action-button add add-category" height="50" src="~/icons/collapse-plus.svg">
</div>