@section Scripts {
    <script src="~/js/admin/categories.js"></script>
}
<ol class="categories-list">

</ol>
<div>
    <img class="action-button add-category" height="50" src="~/icons/collapse-plus.svg">
    <span>Добавить категорию</span>
</div>