<table>
    <tbody>
        <tr>
            <td>Категория 1</td>
        </tr>
        <tr>
            <td>Категория 2</td>
        </tr>
        <tr>
            <td>Категория 3</td>
        </tr>
    </tbody>
</table>