<tbody>
    <tr>
        <td>Ингредиент 1</td>
    </tr>
    <tr>
        <td>Ингредиент 2</td>
    </tr>
    <tr>
        <td>Ингредиент 3</td>
    </tr>
    <tr>
        <td>Ингредиент 4</td>
    </tr>
    <tr>
        <td>Ингредиент 5</td>
    </tr>
</tbody>