@section Scripts {
    <script src="~/js/requests.js"></script>
    <script src="~/js/admin/ingredients.js"></script>
}
<ul class="ingredients-list">
</ul>
<div>
    <img id="show-add-modal" class="action-button add add-ingredient" height="50" src="~/icons/collapse-plus.svg">
</div>
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top">
        <header class="w3-container w3-teal">
            <span id="close-add-modal" class="w3-button w3-display-topright">&times;</span>
            <h2>Создание нового ингредиента</h2>
        </header>
        <div class="w3-container">
        </div>
        <footer class="w3-container w3-teal">
            <p><i>Имя должно быть уникальным.</i></p>
        </footer>
    </div>
</div>
<div id="id02" class="w3-modal">
    <div class="w3-modal-content w3-animate-top">
        <header class="w3-container w3-teal">
            <span id="close-edit-modal" class="w3-button w3-display-topright">&times;</span>
            <h2 class="edit-ingredient-modal-title"></h2>
        </header>
        <div class="w3-container">
        </div>
        <footer class="w3-container w3-teal">
            <p><i>Имя должно быть уникальным.</i></p>
        </footer>
    </div>
</div>
