@section Scripts {
    <script src="~/js/admin/ingredients.js"></script>
}
<ul class="ingredients-list">
</ul>
<div>
    <img class="action-button add-ingredient" height="50" src="~/icons/collapse-plus.svg">
</div>