@section Scripts {
    <script src="~/js/admin/recipes.js"></script>
}

<ul class="recipes-list">

</ul>
<div>
    <img class="action-button add-recipe" height="50" src="~/icons/collapse-plus.svg">
    <span>Добавить новый рецепт</span>
</div>