@section Scripts {
    <script src="~/js/admin/recipes.js"></script>
    <script>
        let categoriesPromise = _fetch('categories')
            .then(categories => {
                let addRecipeCategoriesSelect = document.querySelector('#add-recipe select[name="categories-list"]');
                for (let category of categories.items) {
                    let option = document.createElement('option');
                    option.value = category.name;
                    option.text = category.name;
                    addRecipeCategoriesSelect.options.add(option);
                }
            });
    </script>
}

@section Styles {
<link rel="stylesheet" href="~/css/admin-recipes.css" />
}

<div class="w3-container">
    <header class="w3-container w3-margin-top">
        <button onclick="document.querySelector('#add-recipe').style.display = 'block';" class="w3-btn w3-blue">
            Добавить рецепт
        </button>
    </header>
    <table class="w3-table w3-border w3-hoverable">
        <caption>
            <h3>Список рецептов</h3>
        </caption>
        <thead>
            <tr>
                <td><b>Название</b></td>
                <td><b>Описание</b></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="add-recipe" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <h2>Новый рецепт</h2>
        </div>
        <form class="w3-container">
            <div class="w3-section">
                <label>Название</label>
                <input class="w3-input" type="text" name="title" />
            </div>
            <div class="w3-section">
                <label>Описание</label>
                <textarea class="w3-input w3-border"></textarea>
            </div>
            <div class="w3-section">
                <select class="w3-select w3-border" name="categories-list" multiple>
                    <option value="" selected disabled>Выберите категорию</option>
                </select>
            </div>
            <button class="w3-btn w3-green" type="submit">
                Добавить
            </button>
            <button class="w3-btn" type="reset">
                Сброс
            </button>
            <button onclick="document.querySelector('#add-recipe').style.display = 'none';" class="w3-btn " type="button">
                Отмена
            </button>
            <input type="hidden" name="id" />
        </form>
    </div>
</div>

<div id="edit-recipe" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <h2></h2>
        </div>
        <form class="w3-container">
            <div class="w3-section">
                <label>Название</label>
                <input class="w3-input" type="text" name="title" />
            </div>
            <div class="w3-section">
                <label>Описание</label>
                <textarea class="w3-input w3-border"></textarea>
            </div>
            <div class="w3-section">
                <label>Категории</label>
                <ul class="w3-ul w3-margin-top w3-border recipe-categories">
                </ul>
            </div>
            <button class="w3-btn w3-green" type="submit">
                Обновить
            </button>
            <button id="delete-recipe" class="w3-btn w3-red" type="submit">
                Удалить
            </button>
            <button class="w3-btn" type="reset">
                Сброс
            </button>
            <button onclick="document.querySelector('#edit-recipe').style.display = 'none';" class="w3-btn " type="button">
                Отмена
            </button>
            <input type="hidden" name="id" />
        </form>
    </div>
</div>
