@section Scripts {
    <script src="~/js/admin/recipes.js"></script>
}

<div class="w3-container">
    <h2>Список рецептов</h2>
    <table class="w3-table w3-striped w3-border">
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
    </table>
</div>