@page
@{
    ViewData["Title"] = "Трапезная | Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Это главная страница веб-приложения <i>&laquo;Трапезная&raquo;</i></p>
</div>
