@page
@model IndexModel

<h3>Добавление ингредиента</h3>
<form method="post">
    <div class="form-group">
        <label asp-for="Name">Название</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Type">Тип</label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<KitProjects.Cookbook.Domain.Models.IngredientType>()">
            <option value="" disabled>Выберите тип</option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-info">Создать</button>
</form>
