<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Refectory | Главная</title>
    <link rel="stylesheet" href="~/lib/w3/w3.css"/>
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="w3-container">
        <header class="w3-container">
            <nav class="w3-bar w3-pale-green">
                <a class="w3-button w3-ripple" href="/">Домой</a>
                <a class="w3-button w3-ripple" asp-area="" asp-page="/recipes/new">Новый рецепт</a>
                <a class="w3-button w3-ripple" asp-area="" asp-page="/recipes/index">Рецепты</a>
            </nav>
        </header>
        <main class="w3-container">
            @RenderBody()
        </main>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
