@using KP.Cookbook.Domain.Models
@{
    Layout = null;
    var ingredientTypes = Html
        .GetEnumSelectList<IngredientType>()
        .Except(new[] { new SelectListItem { Value = IngredientMeasure.ничего.ToString("d") } }, new SelectListItemComparer());
}

<div id="new-ingredient" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-blue">
        <span onclick="document.getElementById('new-ingredient').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h2>Новый ингредиент</h2>
    </header>
    <form class="w3-container w3-margin-top">
        <label for="ingredient-name">Название</label>
        <input class="w3-margin-bottom w3-input" type="text" id="new-ingredient-name" required />
        <label>Тип</label>
        <select class="w3-margin-bottom w3-select" id="new-ingredient-type" required asp-items="ingredientTypes">
            <option value="0" disabled selected>Общий</option>
        </select>
        <button class="w3-button w3-light-green w3-ripple w3-margin-bottom" type="button">Создать</button>
    </form>
    <footer class="w3-container w3-blue">
        <p><i>Powered by W3.CSS</i></p>
    </footer>
  </div>
</div>