@model KitProjects.Cookbook.UI.Models.Card
<div class="w3-card-4" >
    <img class="img-fill" src="@Model.ImageUrl"/>
    <div class="w3-container w3-center">
        <p><a asp-page="@Model.Link.Url">@Model.Link.Text</a></p>
    </div>
</div>