<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kit.Kalimov.Cookbook</title>
    <link rel="stylesheet" href="~/css/w3.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <ul style="display: flex; flex-direction: row; list-style: none;">
            <li>
                <a asp-area="" asp-page="/ingredients/new">Новый ингредиент</a>
                <a asp-area="" asp-page="/recipes/new">Новый рецепт</a>
                <a asp-area="" asp-page="/recipes/index">Рецепты</a>
            </li>
        </ul>
    </header>
    <div class="w3-container">
        <main class="w3-container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Книга рецептов Kit.Kalimov - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
