@using KitProjects.Cookbook.Domain.Models
@{ Layout = null; }

<div id="new-ingredient" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('new-ingredient').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <form>
            <label for="ingredient-name">Название</label>
            <input type="text" id="new-ingredient-name" required />
            <label>Тип</label>
            <select id="new-ingredient-type" required asp-items="Html.GetEnumSelectList<IngredientType>()">
                <option value="" disabled>Выбрать</option>
            </select>
        </form>
    </div>
  </div>
</div>