@model int
@{ Layout = null; }

<div class="step">
    <h4>Шаг @(Model)</h4>
    <input type="hidden" value="@(Model + 1)" name="Recipe.Steps[@(Model)].Order"/>
    <label>Описание</label>
    <textarea name="Recipe.Steps[@(Model)].Description"></textarea>
    <label>Время (мин)</label>
    <input type="number" step="1" name="Recipe.Steps[@(Model)].Duration"/>
    <div class="step-ingredients">
        <small><i>Эту кнопку надо сделать дропдауном</i></small>
        <h5>Ингредиенты шага</h5>
        <button type="button" id="add-ingredient-to-step">Добавить ингредиент в шаг</button>
    </div>
</div>
