@page
<ul class="flex-ul flex-space-between">
    <li>
        <div class="w3-card-4">
            <img class="img-w-50" src="~/img/recipe-book.jpg" alt="recipe-book"/>
            <div class="w3-container w3-center">
                <p><a asp-page="/recipes/index">Рецепты</a></p>
            </div>
        </div>
        <div class="w3-card-4">
            <img class="img-w-50" src="~/img/ingredients.jpg" alt="ingredients"/>
            <div class="w3-container w3-center">
                <p><a asp-page="/ingredients/index">Ингредиенты</a></p>
            </div>
        </div>
    </li>
</ul>