@page
@using KitProjects.Cookbook.UI.Models;
@{
    var recipeCard = new Card
    {
        ImageUrl = "/img/recipe-book.jpg",
        Link = new Link
        {
            Text = "Рецепты",
            Url = "/admin/recipes/new"
        }
    };
    var ingredientsCard = new Card
    {
        ImageUrl = "/img/ingredients.jpg",
        Link = new Link
        {
            Text = "Ингредиенты",
            Url = "/admin/ingredients/new"
        }
    };
}
<ul class="flex-ul flex-space-between">
    <li>
        <partial name="_CardPartial" model="recipeCard" />
    </li>
    <li>
        <partial name="_CardPartial" model="ingredientsCard" />
    </li>
</ul>