:root {
    box-sizing: border-box;
    --body-bg: #264653;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body * + * {
  margin-top: 1.5em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  background-color: var(--body-bg);
  font-family: Roboto, sans-serif;
  color: #fff;
}