@{ Layout = null; }
<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/common.css">
        <link rel="stylesheet" href="~/css/admin.css">
        @await RenderSectionAsync("Styles", false)
        <title>Мастер Шеф</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/admin/ingredients">Ингредиенты</a></li>
                    <li><a href="/admin/categories">Категории</a></li>
                    <li><a href="/admin/recipes"><b>Рецепты</b></a></li>
                </ul>
            </nav>
        </header>
        <main id="admin-body">
            @RenderBody()
        </main>
        @await RenderSectionAsync("Scripts", false)
    </body>
</html>