<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="~/css/common.css" />
    @await RenderSectionAsync("Styles", false)
    <title>Мастер Шеф</title>
</head>
<body>
    <header>
        <nav class="navigation-header">
            <img class="logo" height="45" src="images/logo.png" alt="Логотип">
            <ul>
                <li><a href="about.html">О нас</a></li>
                <li><a href="contacts.html">Обратная связь</a></li>
                <li><a href="calculator.html">Калькулятор</a></li>
                <li class="app-title"><a href="index.html">Мастер Шеф</a></li>
                <li><a href="recipes.html">Рецепты</a></li>
                <li><a href="favorites.html">Избранное</a></li>
                <li><a href="profile.html">Профиль</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="page-footer">
        <ul class="footer-links">
            <li>Copyright - 2021 &COPY; KitProjects</li>
            <li><a href="https://github.com/mekk1t/master-chef">GitHub</a></li>
            <li><a>Ссылка 2</a></li>
            <li><a>Ссылка 3</a></li>
        </ul>
    </footer>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
