@{ Layout = null; }
<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/login.css">
    <title>Вход в систему</title>
</head>
<body>
    <div class="login-box">
        <span class="box-title">Мастер Шеф</span>
        <button type="button" name="button">Логин</button>
        <button id="second" type="button" name="button">Регистрация</button>
        <a href="/">На сайт</a>
    </div>
</body>
</html>
