@page
@using KitProjects.Cookbook.Domain.Models
@model NewModel
<h3>Новый рецепт</h3>
<form class="w3-container" method="post">
    <label asp-for="Recipe.Title">Название</label>
    <input type="text" asp-for="Recipe.Title"/>
    <label asp-for="Recipe.Description">Описание</label>
    <textarea asp-for="Recipe.Description"></textarea>
    <label asp-for="Recipe.Categories">Категории</label>
    <select multiple asp-for="Recipe.Categories" asp-items="Html.GetEnumSelectList<Category>()"></select>
    <label asp-for="Recipe.CookingDuration">Время готовки</label>
    <input type="number" asp-for="Recipe.CookingDuration" />
    <label asp-for="Recipe.CookingTypes">Способы приготовления</label>
    <select multiple asp-for="Recipe.CookingTypes" asp-items="Html.GetEnumSelectList<CookingType>()"></select>
    <label asp-for="Recipe.Difficulty">Уровень сложности</label>
    <select asp-for="Recipe.Difficulty" asp-items="Html.GetEnumSelectList<Difficulty>()"></select>
    <div class="w3-container">
        <div class="step">
            <h4>Ингредиент 1</h4>
            <label></label>
        </div>
    </div>
    <button type="submit">ОК</button>
</form>