@page
@using KitProjects.Cookbook.Domain.Models
@model NewModel
<h3>Новый рецепт</h3>
<form class="w3-container" method="post">
    <label asp-for="Recipe.Title">Название</label>
    <input type="text" asp-for="Recipe.Title"/>
    <label asp-for="Recipe.Description">Описание</label>
    <textarea asp-for="Recipe.Description"></textarea>
    <label asp-for="Recipe.Categories">Категории</label>
    <select multiple asp-for="Recipe.Categories" asp-items="Html.GetEnumSelectList<Category>()"></select>
    <label asp-for="Recipe.CookingDuration">Время готовки</label>
    <input type="number" asp-for="Recipe.CookingDuration" />
    <label asp-for="Recipe.CookingTypes">Способы приготовления</label>
    <select multiple asp-for="Recipe.CookingTypes" asp-items="Html.GetEnumSelectList<CookingType>()"></select>
    <label asp-for="Recipe.Difficulty">Уровень сложности</label>
    <select asp-for="Recipe.Difficulty" asp-items="Html.GetEnumSelectList<Difficulty>()"></select>
    <div class="w3-container">
        <div class="ingredient">
            <h4>Ингредиент 1</h4>
            <label>Название</label>
            <input type="text" name="Recipe.IngredientDetails[0].Ingredient.Name" />
            <label>Тип ингредиента</label>
            <select name="Recipe.IngredientDetails[0].Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()"></select>
            <label>Количество</label>
            <input type="number" step="any" name="Recipe.IngredientDetails[0].Amount" />
            <label>Мера объема</label>
            <select name="Recipe.IngredientDetails[0].Measure" asp-items="Html.GetEnumSelectList<IngredientMeasure>()"></select>
            <label>Необязательный</label>
            <input type="checkbox" name="Recipe.IngredientDetails[0].Optional" value="true"/>
        </div>
        <div class="ingredient">
            <h4>Ингредиент 2</h4>
            <label>Название</label>
            <input type="text" name="Recipe.IngredientDetails[0].Ingredient.Name" />
            <label>Тип ингредиента</label>
            <select name="Recipe.IngredientDetails[0].Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()"></select>
            <label>Количество</label>
            <input type="number" step="any" name="Recipe.IngredientDetails[1].Amount" />
            <label>Мера объема</label>
            <select name="Recipe.IngredientDetails[1].Measure" asp-items="Html.GetEnumSelectList<IngredientMeasure>()"></select>
            <label>Необязательный</label>
            <input type="checkbox" name="Recipe.IngredientDetails[1].Optional" value="true"/>
        </div>
    </div>
    <div class="w3-container">
        <div class="step">
            <h4>Шаг 1</h4>
            <input type="hidden" value="1" name="Recipe.Steps[0].Order"/>
            <label>Описание</label>
            <textarea name="Recipe.Steps[0].Description"></textarea>
            <label>Время (мин)</label>
            <input type="number" step="1" name="Recipe.Steps[0].Duration"/>
            <div class="ingredient">
                <h4>Ингредиент 1</h4>
                <label>Название</label>
                <input type="text" name="Recipe.Steps[0].IngredientDetails[0].Ingredient.Name" />
                <label>Тип ингредиента</label>
                <select name="Recipe.Steps[0].IngredientDetails[0].Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()"></select>
                <label>Количество</label>
                <input type="number" step="any" name="Recipe.Steps[0].IngredientDetails[0].Amount" />
                <label>Мера объема</label>
                <select name="Recipe.Steps[0].IngredientDetails[0].Measure" asp-items="Html.GetEnumSelectList<IngredientMeasure>()"></select>
                <label>Необязательный</label>
                <input type="checkbox" name="Recipe.Steps[0].IngredientDetails[0].Optional" value="true"/>
            </div>
            <div class="ingredient">
                <h4>Ингредиент 2</h4>
                <label>Название</label>
                <input type="text" name="Recipe.Steps[0].IngredientDetails[0].Ingredient.Name" />
                <label>Тип ингредиента</label>
                <select name="Recipe.Steps[0].IngredientDetails[0].Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()"></select>
                <label>Количество</label>
                <input type="number" step="any" name="Recipe.Steps[0].IngredientDetails[1].Amount" />
                <label>Мера объема</label>
                <select name="Recipe.Steps[0].IngredientDetails[1].Measure" asp-items="Html.GetEnumSelectList<IngredientMeasure>()"></select>
                <label>Необязательный</label>
                <input type="checkbox" name="Recipe.Steps[0].IngredientDetails[1].Optional" value="true"/>
            </div>

        </div>
        <div class="step">
            <h4>Шаг 2</h4>
            <input type="hidden" value="1" name="Recipe.Steps[1].Order"/>
            <label>Описание</label>
            <textarea name="Recipe.Steps[1].Description"></textarea>
            <label>Время (мин)</label>
            <input type="number" step="1" name="Recipe.Steps[1].Duration"/>
            <div class="ingredient">
                <h4>Ингредиент 1</h4>
                <label>Название</label>
                <input type="text" name="Recipe.Steps[1].IngredientDetails[0].Ingredient.Name" />
                <label>Тип ингредиента</label>
                <select name="Recipe.Steps[1].IngredientDetails[0].Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()"></select>
                <label>Количество</label>
                <input type="number" step="any" name="Recipe.Steps[1].IngredientDetails[0].Amount" />
                <label>Мера объема</label>
                <select name="Recipe.Steps[1].IngredientDetails[0].Measure" asp-items="Html.GetEnumSelectList<IngredientMeasure>()"></select>
                <label>Необязательный</label>
                <input type="checkbox" name="Recipe.Steps[1].IngredientDetails[0].Optional" value="true"/>
            </div>
            <div class="ingredient">
                <h4>Ингредиент 2</h4>
                <label>Название</label>
                <input type="text" name="Recipe.Steps[1].IngredientDetails[0].Ingredient.Name" />
                <label>Тип ингредиента</label>
                <select name="Recipe.Steps[1].IngredientDetails[0].Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()"></select>
                <label>Количество</label>
                <input type="number" step="any" name="Recipe.Steps[1].IngredientDetails[1].Amount" />
                <label>Мера объема</label>
                <select name="Recipe.Steps[1].IngredientDetails[1].Measure" asp-items="Html.GetEnumSelectList<IngredientMeasure>()"></select>
                <label>Необязательный</label>
                <input type="checkbox" name="Recipe.Steps[1].IngredientDetails[1].Optional" value="true"/>
            </div>

        </div>
    </div>
    <button type="submit">ОК</button>
</form>