@page
@using KitProjects.Cookbook.Domain.Models
@model NewModel
<h3>Новый рецепт</h3>
<form id="new-recipe-form" class="w3-container" method="post">
    <label asp-for="Recipe.Title">Название</label>
    <input type="text" asp-for="Recipe.Title"/>
    <label asp-for="Recipe.Description">Описание</label>
    <textarea asp-for="Recipe.Description"></textarea>
    <label asp-for="Recipe.Categories">Категории</label>
    <select multiple asp-for="Recipe.Categories" asp-items="Html.GetEnumSelectList<Category>()"></select>
    <label asp-for="Recipe.CookingDuration">Время готовки</label>
    <input type="number" asp-for="Recipe.CookingDuration" />
    <label asp-for="Recipe.CookingTypes">Способы приготовления</label>
    <select multiple asp-for="Recipe.CookingTypes" asp-items="Html.GetEnumSelectList<CookingType>()"></select>
    <label asp-for="Recipe.Difficulty">Уровень сложности</label>
    <select asp-for="Recipe.Difficulty" asp-items="Html.GetEnumSelectList<Difficulty>()"></select>
    <div class="w3-container ingredients-list">
        <div class="w3-dropdown-hover">
            <button class="w3-button">Добавить ингредиент в рецепт</button>
            <div class="w3-dropdown-content w3-border w3-bar-block">
                <span onclick="document.getElementById('new-ingredient').style.display = 'block';" class="w3-bar-item"><i>Новый</i></span>
            </div>
        </div>
        @*Этот обработчик надо навесить по щелчку каждого <span> внутри дропдауна ингредиентов.*@
        @*<button type="button" id="add-ingredient-to-recipe">Добавить ингредиент в рецепт</button>*@
    </div>
    <div class="w3-container steps-list">
        <button type="button" id="add-step-to-recipe">Добавить шаг</button>
    </div>
    <button type="submit">ОК</button>
</form>
@{ await Html.RenderPartialAsync("_NewIngredient"); }
@section Scripts{
    <script>
    var recipeStepsOrder = 0;
    var recipeIngredientsOrder = 0;
    var stepIngredientsOrder = 0;
    $('#new-ingredient form button').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: window.location.pathname + '?handler=NewIngredient',
            method: 'POST',
            data: JSON.stringify({ Name: $('#new-ingredient-name').val(), Type: $('#new-ingredient-type').val() })
        }).done(function (result) {
            $.ajax({
                url: window.location.pathname + '?handler=IngredientToRecipe',
                method: 'GET',
                data: JSON.stringify({ order: recipeIngredientsOrder, ingredientId: result.Id })
            }).done(function (partial) {
                $('div.ingredients-list').append(partial);
                $('#new-ingredient.form').hide();
            });
        });
    });

    $('#add-step-to-recipe').on('click', function () {
        $.ajax({
            url: window.location.pathname + '?handler=StepToRecipe',
            data: { order: recipeStepsOrder },
            dataType: 'html',
            method: 'GET'
        }).done(function (result) {
            $('div.steps-list').append(result);
            recipeStepsOrder += 1;
            //$('#add-ingredient-to-step').on('click', function () {
            //    $.ajax({
            //        url: window.location.pathname + '?handler=IngredientToStep',
            //        data: { stepOrder: recipeStepsOrder, ingredientOrder: stepIngredientsOrder },
            //        dataType: 'html',
            //        method: 'GET'
            //    }).done(function (result) {
            //        $('div.step-ingredients').append(result);
            //        stepIngredientsOrder += 1;
            //    });
            //});
        });
    });
    //$('#add-ingredient-to-recipe').on('click', function () {
    //    $.ajax({
    //        url: window.location.pathname + '?handler=IngredientToRecipe',
    //        data: { order: recipeIngredientsOrder },
    //        dataType: 'html',
    //        method: 'GET'
    //    }).done(function (result) {
    //        $('div.ingredients-list').append(result);
    //        recipeIngredientsOrder += 1;
    //    });
    //});
</script>
}
