@page
@using KitProjects.Cookbook.Domain.Models
@model NewModel
<h3>Новый рецепт</h3>
<form id="new-recipe-form" class="w3-container" method="post">
    <div class="w3-row">
        <div class="w3-rest">
            <input placeholder="Краткое описание. Одно-два предложения" asp-for="Recipe.Synopsis" class="w3-input w3-border" type="text" />
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half">
            <input placeholder="Название рецепта" class="w3-input w3-border min-h-50" type="text" asp-for="Recipe.Title"/>
        </div>
        <div class="w3-half">
            <input placeholder="Файл обложки" class="w3-input w3-border min-h-50" type="file" id="recipe-thumbnail"/>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-rest">
            <textarea placeholder="Подробное описание рецепта" class="w3-input w3-border" style="min-height: 200px;" asp-for="Recipe.Description"></textarea>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-rest">
            <label asp-for="Recipe.Tags">Теги</label>
            <select id="tags-select-list" class="w3-select" multiple asp-for="Recipe.Tags">
            </select>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-rest">
            <label asp-for="Recipe.Categories">Категории</label>
            <select class="w3-select" id="categories-select-list" multiple asp-for="Recipe.Categories" asp-items="Html.GetEnumSelectList<Category>()"></select>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-rest">
            <label asp-for="Recipe.CookingTypes">Способы приготовления</label>
            <select class="w3-select" id="cooking-types-select-list" multiple asp-for="Recipe.CookingTypes" asp-items="Html.GetEnumSelectList<CookingType>()"></select>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half">
            <label asp-for="Recipe.CookingDuration">Время готовки в минутах</label>
            <input class="w3-input" type="number" asp-for="Recipe.CookingDuration" />
        </div>
        <div class="w3-half">
            <label asp-for="Recipe.Difficulty">Уровень сложности</label>
            <select class="w3-select" asp-for="Recipe.Difficulty" asp-items="Html.GetEnumSelectList<Difficulty>()"></select>
        </div>
    </div>

    <div class="w3-container ingredients-list">
        <div class="w3-dropdown-hover">
            <button type="button" class="w3-button">Добавить ингредиент в рецепт</button>
            <div class="w3-dropdown-content w3-border w3-bar-block">
                <span onclick="document.getElementById('new-ingredient').style.display = 'block';" class="w3-bar-item"><i>Новый</i></span>
                <select id="ingredients-select-list"></select>
            </div>
        </div>
        @*Этот обработчик надо навесить по щелчку каждого <span> внутри дропдауна ингредиентов.*@
        @*<button type="button" id="add-ingredient-to-recipe">Добавить ингредиент в рецепт</button>*@
    </div>
    <div class="w3-container steps-list">
        <button type="button" id="add-step-to-recipe">Добавить шаг</button>
    </div>
    <button type="submit">ОК</button>
</form>
@{ await Html.RenderPartialAsync("_NewIngredient"); }

@section Scripts{
    <script src="~/js/new_recipe.js"></script>
}

@section Styles{
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
