@page
@using KitProjects.Cookbook.Domain.Models
@model NewModel
<h3>Новый рецепт</h3>
<form id="new-recipe-form" class="w3-container" method="post">
    <label asp-for="Recipe.Title">Название</label>
    <input type="text" asp-for="Recipe.Title"/>
    <label asp-for="Recipe.Description">Описание</label>
    <textarea asp-for="Recipe.Description"></textarea>
    <label asp-for="Recipe.Categories">Категории</label>
    <select multiple asp-for="Recipe.Categories" asp-items="Html.GetEnumSelectList<Category>()"></select>
    <label asp-for="Recipe.CookingDuration">Время готовки</label>
    <input type="number" asp-for="Recipe.CookingDuration" />
    <label asp-for="Recipe.CookingTypes">Способы приготовления</label>
    <select multiple asp-for="Recipe.CookingTypes" asp-items="Html.GetEnumSelectList<CookingType>()"></select>
    <label asp-for="Recipe.Difficulty">Уровень сложности</label>
    <select asp-for="Recipe.Difficulty" asp-items="Html.GetEnumSelectList<Difficulty>()"></select>
    <div class="w3-container ingredients-list">
        <button id="add-ingredient-to-recipe">Добавить</button>
    </div>
    <div class="w3-container steps-list">
        <button id="add-step-to-recipe">Добавить</button>
    </div>
    <button type="submit">ОК</button>
</form>
@{ await Html.RenderPartialAsync("_NewIngredient"); }
<script>
    var recipeStepsOrder = 0;
    var recipeIngredientsOrder = 0;
    var stepIngredientsOrder = 0;
    $('#new-ingredient-form').on('click', function (event) {
        event.preventDefault();
        $.ajax({
            url: '?handler=NewIngredient',
            method: 'POST',
            data: JSON.stringify({ Name: $('#new-ingredient-name').val(), Type: $('#new-ingredient-type').val() })
        });
    });

    $('#add-step-to-recipe').on('click', function () {
        $.ajax({
            url: '?handler=StepToRecipe',
            data: { order: recipeStepsOrder },
            dataType: 'html',
            method: 'GET'
        }).done(function (result) {
            $('div.steps-list').append(result);
            recipeStepsOrder += 1;
            $('#add-ingredient-to-step').on('click', function () {
                $.ajax({
                    url: '?handler=IngredientToStep',
                    data: { stepOrder: recipeStepsOrder, ingredientOrder: stepIngredientsOrder },
                    dataType: 'html',
                    method: 'GET'
                }).done(function (result) {
                    $('div.step-ingredients').append(result);
                    stepIngredientsOrder += 1;
                });
            });
        });
    });
    $('#add-ingredient-to-recipe').on('click', function () {
        $.ajax({
            url: '?handler=IngredientToRecipe',
            data: { order: recipeIngredientsOrder },
            dataType: 'html',
            method: 'GET'
        }).done(function (result) {
            $('div.ingredients-list').append(result);
            recipeIngredientsOrder += 1;
        });
    });
</script>