@page
<div style="display: flex; flex-direction: row; justify-content: space-around;">
    <img width="700" src="~/img/me.jpg"/>
    <div class="w3-blue w3-border-amber w3-padding">
        <p>
            Я разработчик.
        </p>
    </div>
</div>