@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="content">
    <img class="avatar" src="~/images/avatar-placeholder.jpg" alt="Аватарка профиля" height="300">
    <dl class="stats">
        <h3>Статистика пользователя</h3>
        <div class="stats-data">
            <div class="data-pair">
                <dt>На проекте с</dt>
                <dd>01.01.2001</dd>
            </div>
            <div class="data-pair">
                <dt>Ранг:</dt>
                <dd>Пользователь</dd>
            </div>
            <div class="data-pair">
                <dt>Приготовлено рецептов:</dt>
                <dd>5</dd>
            </div>
            <div class="data-pair">
                <dt>Комментариев:</dt>
                <dd>58</dd>
            </div>
            <div class="data-pair">
                <dt>Рецептов в избранном:</dt>
                <dd>1</dd>
            </div>
            <div class="data-pair">
                <dt>Написано рецептов:</dt>
                <dd>10</dd>
            </div>
        </div>
    </dl>
    <div class="favorites">
        <h3>Любимые рецепты</h3>
        <ul class="favorites-previews">
            <li><img src="12312.jpg" alt="Превью"></li>
            <li><img src="12312.jpg" alt="Превью"></li>
            <li><img src="12312.jpg" alt="Превью"></li>
        </ul>
    </div>
</div>