@section Styles {
    <link rel="stylesheet" href="~/css/recipe.css">
}
<h2 class="recipe-title"></h2>
<div class="content">
    <img class="recipe-thumbnail" src="https://via.placeholder.com/700x500.png" width="700">
    <div class="recipe-ingredients">
        <h2>Ингредиенты</h2>
        <ul class="ingredients">
        </ul>
    </div>
</div>
<div class="steps-mode-select">
    <h3>Пошаговый режим</h3>
    <h3>Все шаги сразу</h3>
</div>
<div class="recipe-description">
    <table class="recipe-stats">
        <tr>
            <td>Автор: Вася Пупкин</td>
            <td>Теги: #торт, #пп</td>
            <td>Время готовки: 30 мин</td>
        </tr>
        <tr>
            <td>Дата создания: 01.01.2021</td>
            <td>
                Как готовить:
                <ul>
                    <li>Жарить на сковородке</li>
                    <li>Запекать</li>
                    <li>Настаивать</li>
                </ul>
            </td>
            <td>Сложность: первый блин</td>
        </tr>
    </table>
    <p class="description-text">
        Здесь будет описание рецепта
    </p>
</div>
<div class="similar">
    <h2><i>Похожие рецепты</i></h2>
    <ul class="similar-recipes">
        <li>
            <h3>Название</h3>
            <img src="https://via.placeholder.com/500x110.png?text=recipe_preview">
        </li>
        <li>
            <h3>Название</h3>
            <img src="https://via.placeholder.com/500x110.png?text=recipe_preview">
        </li>
        <li>
            <h3>Название</h3>
            <img src="https://via.placeholder.com/500x110.png?text=recipe_preview">
        </li>
        <li>
            <h3>Название</h3>
            <img src="https://via.placeholder.com/500x110.png?text=recipe_preview">
        </li>
    </ul>
</div>