body {
    background-color: #91BAF1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav {
    background-color: teal;
    font-size: 16px;
  }

nav.navigation-header {
display: grid;
grid-template-columns: 45px 1fr;
column-gap: 75px;
align-items: center;
}

  nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
  }

  nav a {
    display: block;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
  }
.app-title {
    font-weight: bold;
    text-transform: uppercase;
}

.logo {
    padding: 5px;
    margin-left: 30px;
    border: 1px solid black;
}

nav a {
    display: block;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.popular {
    margin-right: 20px;
    margin-left: 20px;
}

    .popular h2 {
        text-align: center;
        padding: 10px;
    }

.content-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.previews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #941C2F;
}

    .previews > li {
        background-color: gray;
        margin: 10px;
    }

.recipe-preview {
    display: flex;
    flex-direction: column;
    background: url(https://via.placeholder.com/380x90.png?text=recipe_preview);
}

    .recipe-preview img {
        margin-left: auto;
        padding: 3px;
    }

.types {
    display: flex;
    justify-content: space-around;
}

    .types > li {
        border: 1px solid white;
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px;
        border-radius: 10px;
        color: yellow;
        background-color: #03191E55;
    }


.random-recipe {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #DAD2BC;
    margin-top: 25px;
    margin-right: 20px;
}

.random-recipe-actions {
    display: flex;
}

.random-recipe-preview {
    margin-bottom: 15px;
}

.random-recipe a {
    padding: 15px;
    margin-bottom: 15px;
}

.action-button {
    padding: 15px;
    color: white;
    border-radius: 10px;
    background-color: #941C2F;
    margin-bottom: 15px;
    margin-right: 15px;
}

.action-button:hover {
    cursor: pointer;
}

/*
  Стилизация подвала
*/

.page-footer {
    margin-top: 75px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

    .footer-links li {
        color: #03191E;
    }

        .footer-links li:last-child {
            margin-right: 40px;
        }

        .footer-links li:first-child {
            margin-left: 40px;
        }

    .footer-links a {
        padding: 10px;
    }