body {
  background-color: #91BAF1
}

.login-box button, a {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  border-width: 0px;
  border-style: solid;
  background-color: #941C2F;
  color: inherit;
  margin-top: 20px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.login-box {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #03191E;
  color: #FBFAF5;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

#second {
  margin-bottom: 70px;
}

.box-title {
  margin: 20px;
}
