@section Styles {
    <link rel="stylesheet" href="~/css/index.css"/>
}

<div class="content-box">
    <div class="popular">
        <h2>Популярное</h2>
        <ul class="previews">
            <li>
                <div class="recipe-preview">
                    <ul class="types">
                        <li>Тип</li>
                        <li>Тип</li>
                        <li>Тип</li>
                    </ul>
                    <img src="~/icons/star-symbol.svg" height="25">
                </div>
            </li>
            <li>
                <div class="recipe-preview">
                    <ul class="types">
                        <li>Тип</li>
                        <li>Тип</li>
                        <li>Тип</li>
                    </ul>
                    <img src="~/icons/star-symbol.svg" height="25">
                </div>
            </li>
            <li>
                <div class="recipe-preview">
                    <ul class="types">
                        <li>Тип</li>
                        <li>Тип</li>
                        <li>Тип</li>
                    </ul>
                    <img src="~/icons/star-symbol.svg" height="25">
                </div>
            </li>
            <li>
                <div class="recipe-preview">
                    <ul class="types">
                        <li>Тип</li>
                        <li>Тип</li>
                        <li>Тип</li>
                    </ul>
                    <img src="~/icons/star-symbol.svg" height="25">
                </div>
            </li>
        </ul>
    </div>
    <div class="random-recipe">
        <h3 class="random-recipe-title"></h3>
        <img class="random-recipe-preview" src="https://via.placeholder.com/350x200.png" alt="Превью рецепта">
        <div class="random-recipe-actions">
            <img class="recipe-generator" src="~/icons/reload-sync.svg" height="25" alt="Иконка генерации">
            <a class="random-recipe-link" href="recipe.html">Перейти</a>
        </div>
    </div>
</div>