body {
  background-color: #91BAF1;
  margin: 0;
}

nav {
  display: grid;
  grid-template-columns: 45px 1fr;
  column-gap: 75px;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}
