body {
  background-color: #91BAF1;
  margin: 0;
}

nav {
  display: grid;
  grid-template-columns: 45px 1fr;
  column-gap: 75px;
  align-items: center;
  background-color: teal;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-right: 30px;  
}

nav img {
  margin-left: 30px;
}

nav a {
  display: block;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  color: whitesmoke;
}

.not-ready {
  color: #A99985;
  border-style: dashed;
  border-width: 3px;
}

.popular h2 {
  background-color: #DAD2BC;
}

.content-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.previews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #941C2F;
}

.footer-links {
  display: flex;
}

.random-recipe {
  display: flex;
  flex-direction: column;
  background-color: #A99985;
}